framework: auto-detect
source https://www.nuget.org/api/v2
redirects: force

nuget FSharp.Core >= 4.2 lowest_matching:true

group Build
    source https://www.nuget.org/api/v2

    nuget FAKE ~> 4.0
    nuget FSharp.Formatting
    github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
    source https://www.nuget.org/api/v2
    storage: none

    nuget FSharp.Core ~> 4.0
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit
    nuget NUnit.Runners
    nuget NUnit3TestAdapter
