source https://api.nuget.org/v3/index.json
redirects: on
storage: none

nuget FSharp.Core lowest_matching:true

group Build
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    nuget FSharp.Formatting
    nuget Nuget.CommandLine
    github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FSharp.Core
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit
    nuget NUnit.Runners
    nuget NUnit3TestAdapter

group Net45
  framework: net45
  source https://www.nuget.org/api/v2
  redirects: force

  nuget FSharp.Core >= 3.1 lowest_matching:true